@use '@/styles/variables';

// ------------------------------+
//
//          LOGIN
//
// ------------------------------+

.section_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: variables.$big_margin;

  .login {
    width: 600px;
    height: auto;
    display: flex;

    @media only screen and (max-width: variables.$phone_width) {
      width: 90%;
      height: 90%;
    }

    .container {
      width: calc(100% - variables.$double_image_height);
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: variables.$margin;

      .login_form {
        width: 80%;
        margin-top: variables.$big_margin;
        display: flex;
        flex-direction: column;

        button,
        input {
          width: 100%;
          margin-bottom: variables.$margin;
        }
      }

      .google_login {
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;

        p {
          color: variables.$white_color;
          margin-bottom: variables.$margin;
        }

        .google_button {
          background: variables.$white_color;
          padding: variables.$small_margin;
          border: none;
          border-radius: variables.$border_radius;
          font-size: variables.$medium_font_size;
          font-family: variables.$second_font;
          font-weight: variables.$font_weight_bold;
          color: variables.$text_color;
          transition: variables.$transition;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: variables.$small_margin;
          cursor: pointer;

          @media only screen and (max-width: variables.$phone_width) {
            font-size: variables.$small_font_size;
          }

          &:hover {
            filter: brightness(0.8);
          }
        }
      }
    }
  }
}
