@import '@/styles/variables.scss';

// ------------------------------+
//
//          User
//
// ------------------------------+

.section_container {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .user {
    width: 600px;
    height: auto;
    display: flex;

    @media only screen and (max-width: $phone_width) {
      width: 90%;
      height: 90%;
    }

    .container {
      width: calc(100% - $double_image_height);
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: $margin;
    }
  }
}
