@import '@/styles/variables.scss';

// ------------------------------+
//
//          TITLE
//
// ------------------------------+

.section_title {
  width: 100%;
  height: $image_height;
  display: flex;
  justify-content: center;
  align-items: center;
}
